<ElementQuery
  class="
    GameList_Cards
  "
  data-test-cards-view
  ...attributes
  as |EQ EQInfo|
>
  <VerticalCollection
    @items={{group-by-eq
      items=this.games.gamesWrappers
      width=EQInfo.width
      itemWidth=276
      padding=20
    }}

    @key="firstObject.name"
    @estimateHeight={{350}}
    @containerSelector="body"
    @bufferSize={{5}}
    as |gamesWrappers|
  >
  {{!-- {{#each (group-by-eq
      items=this.games.gamesWrappers
      width=EQInfo.width
      itemWidth=276
      padding=20
  )
 as |gamesWrappers|}} --}}
    <div class="GameList_Cards-Group">
      {{#each gamesWrappers key="name" as |gamesWrapper|}}
        {{#let gamesWrapper.gameWrapperCurrent.game as |game|}}
          <div
            class="GameList_Cards-Card"
            data-test-game-group
          >
            <img
              class="GameList_Cards-Card-Thumb"
              data-test-screenshot
              src={{url game.screenshot}}
              alt={{game.name}}
              loading="lazy"
              {{img-loading game.screenshot}}
            >

            <p
              class="GameList_Cards-Card-Name"
              data-test-name
            >
              {{game.name}}
            </p>

            <div class="GameList_Cards-Card-Games">
              {{#each gamesWrapper.gameWrappers as |gameWrapper|}}
                <label
                  class="GameList_Cards-Card-Game"
                  data-test-game
                  {{on "mouseenter" gameWrapper.setCurrent}}
                >
                  <input
                    class="GameList_Cards-Card-Game-Check"
                    data-test-checkbox
                    type="checkbox"
                    checked={{gameWrapper.isSelected}}
                    {{on "change" gameWrapper.toggle}}
                  >

                  <div
                    class="GameList_Cards-Card-Game-Content"
                  >
                    <p>
                      <GameList::Lang
                        @lang={{gameWrapper.game.language}}
                      />

                      <span data-test-size>
                        {{! template-lint-disable no-bare-strings}}
                        {{t "page.games.size" size=gameWrapper.game.size}}
                      </span>

                      {{#if gameWrapper.game.battery}}
                        <span data-test-battery>
                          {{! template-lint-disable no-bare-strings}}
                          🔋
                        </span>
                      {{/if}}
                    </p>

                    <p
                      class="GameList_Cards-Card-Desc"
                      data-test-description
                    >
                      {{gameWrapper.game.description}}
                    </p>
                  </div>
                </label>
              {{/each}}
            </div>
          </div>
        {{/let}}
      {{/each}}
    </div>
  {{!-- {{/each}} --}}
  </VerticalCollection>
</ElementQuery>
