<ElementQuery
  class="
    GameList_Cards
  "
  ...attributes
  as |EQ EQInfo|
>
  <VerticalCollection
    @items={{group-by-eq
      items=this.games.gamesWrappers
      width=EQInfo.width
      itemWidth=276
      padding=20
    }}

    @key="firstObject.name"
    @estimateHeight={{350}}
    @containerSelector="body"
    @bufferSize={{5}}
    as |gamesWrappers|
  >
    <div class="GameList_Cards-Group">
      {{#each gamesWrappers key="name" as |gamesWrapper|}}
        {{#let gamesWrapper.gameWrapperCurrent.game as |game|}}
          <div
            class="GameList_Cards-Card"
          >
            <img
              class="GameList_Cards-Card-Thumb"
              src={{url game.screenshot}}
              alt={{game.name}}
              loading="lazy"
              {{img-loading game.screenshot}}
            >

            <p class="GameList_Cards-Card-Name">
              {{game.name}}
            </p>

            <div class="GameList_Cards-Card-Games">
              {{#each gamesWrapper.gameWrappers as |gameWrapper|}}
                <label class="GameList_Cards-Card-Game"
                  {{on "mouseover" gameWrapper.setCurrent}}
                >
                  <input
                    class="GameList_Cards-Card-Game-Check"
                    type="checkbox"
                    checked={{gameWrapper.isSelected}}
                    {{on "change" gameWrapper.toggle}}
                  >

                  <div
                    class="GameList_Cards-Card-Game-Content"
                  >
                    <p>
                      <GameList::Lang
                        @lang={{gameWrapper.game.language}}
                      />

                      <span>
                        {{! template-lint-disable no-bare-strings}}
                        {{gameWrapper.game.size}} KB
                      </span>

                      {{#if gameWrapper.game.battery}}
                        <span>
                          {{! template-lint-disable no-bare-strings}}
                          🔋
                        </span>
                      {{/if}}
                    </p>

                    <p
                      class="GameList_Cards-Card-Desc"
                    >
                      {{gameWrapper.game.description}}
                    </p>
                  </div>
                </label>
              {{/each}}
            </div>
          </div>
        {{/let}}
      {{/each}}
    </div>

  </VerticalCollection>
</ElementQuery>
