<ElementQuery
  class="
    GameList_Thumbs
  "
  ...attributes
  as |EQ|
>
  <table
    class="GameList_Thumbs-Table"
  >
    <colgroup>
      <col class="GameList_Thumbs-Col _check">
      <col class="GameList_Thumbs-Col _thumb">
      <col class="GameList_Thumbs-Col _name">
      <col class="GameList_Thumbs-Col _props">
    </colgroup>

    {{!-- <thead>
      <tr class="GameList_Thumbs-Row _header">
        <th class="GameList_Thumbs-Cell _header _check">
        </th>

        <th class="GameList_Thumbs-Cell _header _thumb">
        </th>

        <th class="GameList_Thumbs-Cell _header _name">
          {{t "component.game-list_compact.fields.name"}}
        </th>

        <th class="GameList_Thumbs-Cell _header _props">
          {{t "component.game-list_compact.fields.name"}}
        </th>
      </tr>
    </thead> --}}

    <VerticalCollection
      @items={{this.games.gameWrappers}}
      @tagName="tbody"
      @key="name"

      @estimateHeight={{or
        (and EQ.to-xs 89)
        (and EQ.from-l 31)
        48
      }}

      @containerSelector="body"
      @bufferSize={{5}}
      as |gameWrapper index|
    >
    {{!-- {{#each this.games.gameWrappers as |gameWrapper|}} --}}
      <tr class="GameList_Thumbs-Row _body  _{{oddity index}}">
        <td class="GameList_Thumbs-Cell _body _check">
          <input
            type="checkbox"
            checked={{gameWrapper.isSelected}}
            {{on "change" gameWrapper.toggle}}
          >
        </td>

        <td class="GameList_Thumbs-Cell _body _thumb">
          <img
            class="GameList_Thumbs-Thumb"
            src={{url gameWrapper.game.screenshot}}
            alt={{gameWrapper.game.name}}
            loading="lazy"
            {{img-loading gameWrapper.game.screenshot}}
          >
        </td>

        <td class="GameList_Thumbs-Cell _body _name">
          <p class="GameList_Thumbs-Name">
            {{gameWrapper.name}}
          </p>
          <p
            class="GameList_Thumbs-Desc"
            title={{gameWrapper.game.description}}
          >
            {{gameWrapper.game.description}}
          </p>
        </td>

        <td class="GameList_Thumbs-Cell _body _props">
          <p>
            <GameList::Lang
              @lang={{gameWrapper.game.language}}
            />
          </p>

          {{#if gameWrapper.game.battery}}
            <p>
              {{! template-lint-disable no-bare-strings}}
              🔋
            </p>
          {{/if}}

          <p>
            {{! template-lint-disable no-bare-strings}}
            {{gameWrapper.game.size}} KB
          </p>
        </td>
      </tr>
    </VerticalCollection>
    {{!-- {{/each}} --}}
  </table>
</ElementQuery>
