<div class="Page-Application" {{element-query}}>
  <header class="Page-Application-Header">
    <div class="Page-Application-Header-Logo">
      <h2 class="Page-Application-Header-Title">
        {{t "page.application.title" htmlSafe=true}}
      </h2>

      <h3 class="Page-Application-Header-Subtitle">
        {{t "page.application.subtitle"}}
      </h3>

      <p class="Page-Application-Header-Slogan">
        {{t "page.application.slogan"}}
      </p>
    </div>

    <nav class="Page-Application-Header-Nav" {{element-query}}>
      <LinkTo
        class="Page-Application-Header-Nav-Link link"
        @route="index"
      >
        {{t "page.application.nav.index"}}
      </LinkTo>

      <LinkTo
        class="Page-Application-Header-Nav-Link link"
        @route="games"
      >
        {{t "page.application.nav.games"}}
      </LinkTo>
    </nav>
  </header>

  <main class="Page-Application-Content">
    {{outlet}}
  </main>

</div>

<FlashMessages/>

{{#while-loading}}
  <Loading::Overlay/>
{{/while-loading}}
