<div
  class="Page-Games"
  ...attributes
  {{element-query}}
>
  <div class="Page-Games-Filters">
    <div class="Page-Games-Filter _mode" {{element-query}}>
      <div class="Page-Games-Filter-Label">
        {{t "page.games.view-mode"}}
      </div>

      <div class="Page-Games-Filter-Filter">
        {{#each this.viewModes as |viewMode|}}
          <label class="Page-Games-Filter-Filter-Item">
            <input
              type="radio"
              name={{viewMode}}
              checked={{eq viewMode this.viewMode}}
              {{on "change" (fn this.setViewMode viewMode)}}
            >

            {{t (concat "page.games.view-modes." viewMode)}}
          </label>
        {{/each}}

        <label class="Page-Games-Filter-Filter-Item">
          <input
            type="checkbox"
            checked={{not this.isVirtualScrollingEnabled}}
            {{on "change" this.setVirtualScrolling}}
          >

          {{t "page.games.in-page-search"}}
        </label>
      </div>
    </div>
  </div>

  <div class="Page-Games-Content">
    {{#if this.fetch.fetchGamesTask.isRunning}}
      <div>
        {{t "page.games.loading"}}
      </div>
    {{else if this.fetch.fetchGamesTask.last.isError}}
      <div>
        <span>
          {{t "page.games.failed"}}
        </span>

        <button
          type="button"
          {{on "click" (perform this.fetch.fetchGamesTask)}}
        >
          {{t "page.games.retry"}}
        </button>
      </div>
    {{else if this.fetch.fetchGamesTask.last.isSuccessful}}

      {{#if (eq this.viewMode "compact")}}
        <GameList::Compact
          @isVirtualScrollingEnabled={{this.isVirtualScrollingEnabled}}
        />

      {{else if (eq this.viewMode "thumbnails")}}
        <GameList::Thumbs
          @isVirtualScrollingEnabled={{this.isVirtualScrollingEnabled}}
        />
      {{else}}
        <GameList::Cards
          @isVirtualScrollingEnabled={{this.isVirtualScrollingEnabled}}
        />
      {{/if}}
    {{else}}
      {{concat "WTF"}}
    {{/if}}
  </div>
</div>
